.block {
  border-left: 10px solid #235937;
  padding-left: 5px;
}

.header{
  background: linear-gradient(#235937,#FFCC33);
  padding: 20px;
}

.identedLink{
  padding-left: 25px;
}

.container {
  align-content: left;
	width: auto;
	
	display: grid;
	grid-template-rows: 125px 125px;
	grid-template-columns: 300px 300px 300px;
}

.item {
	padding: 20px;
	font-size: 15px;
	font-family: sans-serif;
  border-left: 10px solid #235937;
  padding-left: 5px;
}

h1 { 
  font-size: 45px;
  padding-left: 10px;}

h2 { 
  font-size: 30px;}

h3 { 
  font-size: 15px;
  padding-left: 15px;}

li {
  color:#235937;
}

b {
  padding: 5px;
}

html, body {
  font-family: "Saturday Sans Bold", sans-serif;
}
